

@media(max-width:1366px){
.work-right.work-right2 {
    min-height: 200px;
}
.work-right {
    padding: 2.5em 0 1em 6em;
}
.txt2{
	margin-left:0;
}

}

@media(max-width:1080px){
	.header-left {
	    padding: 0;
	}
	ul.address {
	    margin-top: 1em;
	}
	ul.address li ul.address-text li {
	    margin-top: 0.8em;
	}
	.work-right {
    padding: 2.5em 0 0.5em 6em;
}
}

@media(max-width:991px){
	.banner-info {
	    padding: 3.5em 0;
	}
	.header-left {
	    float: left;
	    width: 40%;
	}
	.header-right {
	    padding-left: 2em;
	    float: right;
	    width: 60%;
	    padding-right: 0;
	}
	.header-right h2 {
	    font-size: 1em;
	}
	.header-right h1 {
	    font-size: 2em;
	}
	.header-right h6 {
	    font-size: 0.9em;
	    margin-top: 0.6em;
	    letter-spacing: 5px;
	}
	ul.address li ul.address-text li {
	    font-size: 1.1em;
	}
	ul.nav.navbar li a {
	    padding: 1em 1.5em;
	}
	.skills-right {
        margin: 3em 0;
        float: left;
        width: 77%;
    }
    div.skill-section {
        padding: 4em 0 1em;
    }
	.work-left {
    padding: 2em 4em 0 0;
    float: left;
    width: 50%;
}
.work-right {
    padding: 2em 0 0.5em 5em;
    float: right;
    width: 50%;
}
.work-right h5 span.glyphicon {
    margin-right: 5em;
    margin-left: -7.3em;
}
.work-info h5 {
    font-size: 1.2em;
    padding: 0 1em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 3.4em;
    margin-right: -6.4em;
}
.work-right.work-right2 {
    min-height: 220px;
}
}

@media(max-width:800px){
}

@media(max-width:768px){
.banner-info {
    padding: 3em 0;
}
}
@media(max-width:767px){
	.navbar-toggle {
	    float: none;
	    width: 100%;
	    text-align: center;
	    margin: 0;
	    font-size: 1.3em;
	    color: #fff;
	}
	.nav > li {
	    display: block;
	}
	ul.nav.navbar li a {
	    padding: 0.8em 1.5em;
	    font-size: 1.1em;
	}
	.skills-right {
        width: 58%;
    }
}
@media(max-width:640px){
	.header-right h2 {
	    font-size: 0.9em;
	}
	.header-right h2:before {
	    bottom: -7px;
	    left: 9px;
	    border-width: 7px 7px 0 7px;
	}
	ul.address li ul.address-text li {
	    font-size: 1em;
	}
	.header-right h6 {
	    font-size: 0.85em;
	}
	ul.address {
	    margin-top: 0.5em;
	}
	.banner-info {
	    padding: 2em 0;
	}
	.skills-right {
        width: 62%;
    }
	.work-right.work-right2 {
    min-height: 235px;
}

}

@media screen and (max-width: 600px){
     .skills-right {
        width: 66%;
    }
    .vertical-skills li {
        width: 40px;
    }
       
}
@media(max-width:480px){
	.header-left {
	    float: none;
	    width: 40%;
	    margin: 0 auto;
	}
	.header-right {
	    float: none;
	    width: 100%;
	}
	.skills-right {
        width: 94%;
    }
	.work-info h4 {
    font-size: 1em;
}

.work-info h4:before {
    right: -10px;
    border-width: 7px 0 7px 10px;
}
.work-info h5 {
    font-size: 1em;
}
.work-left {
    padding: 1em 3em 0 0;
}
.work-right {
    padding: 1em 0 0.5em 3em;
}
.work-right h5 span.glyphicon {
    margin-right: 3em;
    margin-left: -6em;
}
.work-right.work-right2 h4:before {
    left: -10px;
}
.work-left2 h5 span.glyphicon {
    margin-left: 3em;
    margin-right: -6.2em;
}
.about-title {
    margin-bottom: 25px;
    text-align: center;
	}

}


@media(max-width:414px){
	.work-right.work-right2 {
    min-height: 260px;
		}
	.skills-right {
        width: 92%;
    }
    .vertical-skills li {
        width: 35px;
    }


}

@media(max-width:375px){
	/*.header-right {
	    padding-left: 0;
	}
*/	.work-left {
    width: 100%;
    text-align: left;
	padding: 1em 0 0 0;
	}
	.vertical-skills li {
        width: 32px;
    }
    .vertical-skills li:after {
         left: 18px;
    }
    .vertical-skills li:before {
         left: 14px;
    }
	.work-right {
	    padding: 1em 0 0.5em 2em;
	    width: 95%;
		border: none;
	}
	.work-right h5 span.glyphicon {
	    margin-right: 2em;
	    margin-left: -5em;
	}
	.work-right.work-right2 {
	    min-height: inherit;
	    padding: 0;
	}
	.about-title {
    margin-bottom: 25px;
    text-align:center;
	}
    .about-img
    {
    	padding-left:24px;
    }
     h3.title, h3.titlespan,  h3.portfolio-title span,  h3.portfolio-title, .education-title h2, .about-title h2, 
    h3.skill-title, .about-title span, .education-title span
    {
    	font-size:35px;
    }
    h3.title
    {
    	margin-bottom:10px;
    }
    .work-timetable
    {
    	padding:12px;
    }

}

@media(max-width:320px){
	.banner-info {
	    padding: 1em 0;
	}
	.header-left {
	    width: 50%;
	}
	.header-right h1 {
	    font-size: 1.8em;
	}
	.header-right h6 {
	    letter-spacing: 1px;
	}
	ul.address li ul.address-text li {
	    font-size: 0.9em;
	}
	ul.address li ul.address-text li:nth-child(1) {
	    width: 25%;
	}
	ul.nav.navbar li a {
	    padding: 0.6em 1.5em;
	    font-size: 1em;
	}
	
    .vertical-skills li {
        margin: 0 2px;
    }
    .about-title {
    margin-bottom: 25px;
    text-align:center;
	}
    .about-img
    {
    	padding-left:0;
    }
    h3.title, h3.titlespan,  h3.portfolio-title span,  h3.portfolio-title, .education-title h2, .about-title h2, 
    h3.skill-title, .about-title span, .education-title span
    {
    	font-size:35px;
    }
    h3.title
    {
    	margin-bottom:10px;
    }
    .work-timetable
    {
    	padding:12px;
    }
}