/*======purmima gurung======*/

body{
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
}
body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;   
    font-family: 'Source Sans Pro', sans-serif;
}
p{
    margin:0;
}
ul,label{
    margin:0;
    padding:0;
}
body a:hover{
    text-decoration:none;
}
/*--baner--*/
.banner {
    background: url(../images/11.jpg)no-repeat center 0px fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size:cover;
    background-size:cover;
    -moz-background-size:cover;
    position: relative;
}
.banner-info{
    /*background: url(../images/dott.png)repeat 0px 0px;*/
    background:rgba(0,0,0,0.75);
    padding: 9em 0;
}
.header-left img {
    width: 100%;
    border: 5px solid rgba(255, 255, 255, 0.68);
}
.header-right {
    padding-left: 3em;
}
.header-right h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0.5em 0 0;
}
.header-right h2 {
    font-size: 1.2em;
    color: #000;
    background: #F3E000;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
}
.header-right h2:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #F3E000 transparent transparent transparent;
}
.header-right h6 {
    font-size: 1em;
    color: #C7C7C7;
    margin-top: 0.8em;
    letter-spacing: 6px;
}
ul.address {
    margin-top: 2em;
    border-top: 1px dotted #AFAFAF;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.address-text li {
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
    margin-top: 1em;
    font-weight: 100;
}
ul.address li ul.address-text li:nth-child(1){
    width: 20%;
}
ul.address li ul.address-text li a {
    color: #fff;
    text-decoration:none;
}
ul.address li ul.address-text li a:hover{
    color: #0FF;
}
/*--//banner-top--*/
/*--top-nav--*/
.top-nav {
    background: #333;
}
.nav > li {
    display: inline-block;
}
ul.nav.navbar {
    margin: 0;
    text-align: center;
}
ul.nav.navbar li a {
    color: #fff;
    padding: 1em 2em;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
}
ul.nav.navbar li a:hover,ul.nav.navbar li a.active,ul.nav.navbar li a:focus{
    color: #333;
    background: #fff;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
}
/*--//top-nav--*/


/*about me */

.about-section {padding:60px 0px 60px 0px;}
.about-title {}
.about-title h2{color: #535353; font-size:45px;font-weight:600; margin-bottom:15px;}
.about-title h3{font-size:18px; margin-bottom:18px;}
.about-title span, .education-title span {color: #ead909; font-size:45px;font-weight:700;}
.about-title p {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px; padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px dashed #646464;}
.about-paddingB {padding-bottom: 12px;}
.about-img {padding-left: 57px;}

a.hireme.about-link, a.link-btn {
    color: #fff;
    border: 1px solid #333;
    background: #333;
    border-radius: 0;
    padding: 0.5em 2.5em;
    outline: none;
    font-size: 1em;
    margin: 4% auto 0;
    font-weight: 600;
    letter-spacing: 4px;
    display: inline-block;
    text-transform: uppercase;
}
a.hireme.about-link:hover
{
    background:#fff;
    color:#555;
}
/*-- social-icons --*/

ul.social-links li {
    margin: 0 3px;
    display: inline-block;
}

ul.social-links {
    margin-top: 24px;
}

ul.social-links li a i.fa {
    color: #f5f5f5;
    background: #333;
    font-size: 1em;
    line-height: 2.2em;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
}

ul.social-links li a i.fa:hover {
    color: #555;
    background: transparent;
    border:1px solid #333;
}


/* skills */

.skill- h3 {
    text-align: left;
    color: #fff;
}
.skill- p
{
    color:#fff;
}

.skills-right {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

div.skill-section {
    background: url(../images/skill2.jpg) fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
        padding: 5em 0;
}


/*-- Skills bar effects --*/

.skill-grids {
    margin: 3em 0;
}

.skills h4 {
    font-size: 1.8em;
    color: #4378ff;
    letter-spacing: 2px;
    margin-bottom: 0.8em;
}

.skills-w3lsleft ul li {
    display: block;
    font-size: 1em;
    color: #999;
    margin-top: 1em;
}

.skills-w3lsleft ul li i.fa {
    font-size: 1.2em;
    margin-right: 0.5em;
}

.skillbar {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    background: #eee;
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}
h3.skill-title {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.5em;
    color: #fff;
    text-align: left;
}
.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.88);
}


/*-- //Skills bar effects --*/

.vertical-skills {
    margin-top: 85px;
    text-align: center;
}

.vertical-skills li {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 200px;
    margin: 0 10px;
}

.vertical-skills li:before {
    content: '';
    background: #03afdd;
    display: block;
    top: -53px;
    left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}

.vertical-skills li:after {
    content: '';
    background: #9a9a9a;
    display: block;
    top: -43px;
    left: 24px;
    width: 1px;
    height: 93px;
    position: absolute;
}

@media (max-width: 400px) {
    .vertical-skills li {
        width: 25px;
    }
}

.vertical-skills li span.skill {
    position: absolute;
    animation-duration: 5s;
    animation-name: height;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
}

.vertical-skills li div.skill {
    position: absolute;
    animation-duration: 5s;
    animation-name: height;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    z-index: 2;
}

.vertical-skills li span.title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -85px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
}

span.value {
    transform: rotate(-90deg);
    display: inline-block;
    margin: 6em 0;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1em;
}


/* ANIMATIONS */

@keyframes height {
    0%,
    100% {
        transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        height: 0;
    }
    100% {
        max-height: 100%;
    }
}

/* //skills */

/*education section*/
.education-section, .experience-section
{
 padding: 60px 0px 60px 0px;
}

.education-title h2
{
   color: #535353;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}
.education-title h3
{
    padding:13px;
    color:#555;
}
.blockquote-box.blockquote-primary .square {
    background-color:#428bca;
    color: #FFF;
}

.blockquote-box {
    border-left: 5px solid;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 25px;
    min-height: 133px;
}
.blockquote-box.blockquote-primary {
    border-color: #428bca;
}
.blockquote-box.blockquote-warning .square {
    background-color: #f0ad4e;
    color: #FFF;
}
.blockquote-box .square {
    width: 120px;
    min-height: 50px;
    margin-right: 22px;
    text-align: center !important;
    background-color: #E6E6E6;
    padding: 20px 0;
    font-size: 15px;
}
.blockquote-box.blockquote-warning {
    border-color: #f0ad4e;
}
.blockquote-box.blockquote-success .square {
    background-color: #009688;
    color: #FFF;
}

.blockquote-box.blockquote-success {
    border-color: #009688;
}
.blockquote-box.blockquote-danger {
    border-color: #d9534f;
}
.blockquote-box {
    border-left: 5px solid;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin-bottom: 25px;
    box-shadow:0px 0px 2px 2px #eeeeee;
}
.blockquote-box.blockquote-danger .square {
    background-color: #d9534f;
    color: #FFF;
}

.progress .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: white;
    background-color: rgba(25, 25, 25, 0.2);
}
.progress {
    position: relative;
    height: 25px !important;
}

.box-p{
    padding:5px;
}


/*--work--*/
.work {
       background: url(../images/11.jpg)no-repeat center 0px fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size:cover;
    background-size:cover;
    -moz-background-size:cover;
    position: relative;
}
h3.title
{
    color: #eee;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 44px;
}
.work-right p
{
    color:#fff;
}
.work-left {
    text-align: right;
    padding: 3em 5em 0 0;
}
.work-right {
    border-left: 1px solid #999;
    padding: 2.5em 0 2em 6em;
}
.work-info h4 {
    font-size: 1.2em;
    background: #ead909;
    display: inline-block;
    padding: .6em 1.2em;
    color: #fff;
    position:relative;
}
.work-info h4:before {
    width: 0;
    height: 0;
    position: absolute;
    /*-- w3layouts --*/
    content: '';
    top: 9px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #ead909;
}
.work-info h5 a {
    font-size: 1.3em;
    color: #fff;
    margin-bottom:20px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 0 1.2em;
}
.work-info h5 a:hover
{
    color:#fff;
    background-color: #ead909;
}

.work-right p, .work-left p
{
    color:#fff;
}
.work-info h5 span.glyphicon {
    font-size: 0.9em;
    color: #fff;
    background:#ead909;
    padding: 1em;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    border-radius: 70%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
.work-right h5 span.glyphicon {
    margin-right: 5em;
    margin-left: -8em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 4em;
    margin-right: -7.3em;
    z-index: 9;
}
.work-right.work-right2 {
    min-height: 210px;
    float: right;
}
.work-right.work-right2 h4:before {
    left: -14px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    /*-- agileits --*/
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.work-right.work-right2 h4 {
    margin-top: 0.8em;
}
.work-info:hover h5 span.glyphicon {
    color: #fff;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
/*--//work--*/


/*  gallery */
.portfolio-section
{
    padding:0 0 54px 0;
}
h3.portfolio-title{
    color: #535353;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}
h3.portfolio-title span {
    color: #ead909;
    font-size: 45px;
    font-weight: 700;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin-bottom:35px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color:#0000008c;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color:rgba(0,0,0,0.8);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color:#fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
 margin: 7px 0 0 0;
 /* padding: 62px 100px;*/
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.gallery_product:hover .img-info{
  display:block;
   -webkit-transition: 2s;
    transition: 2s;
    background-color:#333d1;
}
.img-info p
{
  color:#fff;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

/*  end gallery */


/*footer*/

.footer {
        text-align: center;
    padding: 2em 0;
    color: #fff;
    background: #232323
}
.footer a
{
    color:#ead909;
}

/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 7%;
    overflow: hidden;
    z-index: 999; 
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url(../images/uparrow.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
/*-- //to-top --*/

.affix {
    position: fixed;
    z-index: 999999;
    left: 0;
    right: 0;
    top: 0;
}

/*=== contact us===*/
.txt1
{
 font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 20px;
  font-size: 24px;
    line-height: 1.2;
    color:#333;
font-weight:bold;
}
.p-right
{
    padding-right: 25px;
}
.txt2, .txt2 a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #222;
    margin-left:42px;
}

.txt2:hover
{
text-decoration:underline;
}
.contact-form .well{
    margin-top:30px;
    border-radius:0;
}
.phone, .email, .address
{
    margin-bottom: 35px;
}
.google-map
{
    margin-bottom: 45px;
}
.message-box
{
  height: 165px !important;
}

.contact-form .form-control{
    font-size: 17px;
    height: 48px;
    display: block;
    width: 100%;
    background: transparent;
    color: #555;
    line-height: 1.2;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 0;
    margin-bottom: 30px;
    box-shadow: none;
}

.contact-form button{
    border-radius:0;
    border:2px solid #1e1e1e;
}
a.send-button
{
    color: #fff;
    border: 1px solid #333;
    background: #333;
    border-radius: 0;
    padding: 0.5em 2.5em;
    outline: none;
    font-size: 1em;
    /* margin: 4% auto 0; */
    font-weight: 600;
    letter-spacing: 4px;
    display: inline-block;
    text-transform: uppercase;
}
a.send-button:hover
{
    color:#555;
    background:transparent;
}
.contac-form .row{
    margin-bottom:30px;
}

@media (max-width: 768px) { 
    .contact-form iframe {
        margin-bottom: 15px;
    }
    
}
.participations
{
    font-size:1.3em;
    color:#fff;
}
.participations li a
{
    color:#428bca;
}
.volunteer
{
    background-color:#333333;
    padding:5em 0;
}
h3.volunteer-title {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 26px;
    }
h3.volunteer-title span {
    color: #ead909;
    font-size: 30px;
    font-weight: 700;
}
.Hobby
{
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 25px;
    background: #333;
    border:1px solid #fff;
    position: relative;
    font-size: 1.2em;
}
.Hobby:before {
    content: "\f004";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 6px;
    left: 5px;
    font-size:15px;
}
.language-skills .skill {
    color:#fff;
    font-size: 1.3em;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px dotted #eee;
}