/* reponsive media query csss */

@media (min-width: 320px) and (max-width:479px){
	.note-content1{font-size:13px;}
	.privacy-detail h1{width:82%;}
	.incon-box img{display:none;}
	span.box-title{color:#555; font-size:12px;}
	.left-content select
	{
		margin-bottom: 12px;
	}
	.pic-book-section
	{
     margin-top: 65px;;
	}
	.monsters-home-c .feature-screen img
	{
		margin-top: 52px;
	}
	.wsmenu-list>li>.navtext>span {
		color: #555;
	}
	.listing_subjects
	{
		margin-bottom:14px;
	}
    .questionbank_search input[type="submit"]
    {
        margin: 6px auto 0;
    }
	.questionbank_search
	{
		margin-top:0;
	}
    .tag-line h4{font-size:16px; margin:0;}
	.question-sub-header p,.question-marks-section p
	{
		margin-left: 0;
	}
    .content-wrapper .group-title
    {
        margin-top:10px;
    }
	.title-box
	{
		margin-bottom:30px;
	}
	.copyright h5
	{
		font-size:0.5em;
		line-height:16px;
	}
    .heading-agileinfo span:after, .heading-achieve-info span:after{
        top: 122%;
        right: 39%;
    }
    .heading-agileinfo span, .heading-achieve-info span{
        font-size: 13px!important;
        margin-top: 9px;
        letter-spacing: 2px;
    }
	.heading-agileinfo{font-size:24px;}
	.inner-padding{padding:0;}
	.section-title-wrapper:before{bottom:58px;}
	.section-title-wrapper::after {bottom: 51px;}
	.social-login{margin-left:0 !important;}
	.fb-share-button{line-height:0.44 !important;}
	.loginBtn{display: block; margin-bottom: 5px; padding:2px 49px; width:100%;}
	.about-heading{top: -122px;font-size: 10px;}
	.margin-top-lg{margin-top:45px;}
	.class-div .well.well-clean{line-height: 25px; font-size:13px;}
	.margin-top-sm {margin-top: 0px;}
	.intro-header{margin-top:2px;}
	h3.form-title{font-size: 0.813em;}
	.t-signup-form{font-size:13px; padding: 10px 16px;}
	figure.align-left img {float: none; width:100%; height:auto; display:block;}
	figure.align-right img {float:none; width:100%; height:auto; display:block}
	figure.align-center img {float:none; width:100%; height:auto; display:block}
	figure.image img{float: none; width:100%; height:auto; display:block;}
	table{width: 100% !important; height: auto;}
	#rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
	.social_account {margin: 0 0 0 20px !important;}
	.btn-social { margin-bottom: 6px;padding: 6px 12px!important; font-size:8px;}
	.login-help {font-size: 12px;line-height: 3;}
		/*.btn-social {padding: 6px 12px !important;}*/
	/*	.monsters-home-c.with-drop-in-banner .feature-screen{padding:0;}*/
	.rating-xs {font-size: 13px;}
	span.user-rating{font-size:10px;}
	/*MEDIA QUERY FOR SCROLL DOWM*/
	.scrolldown{float:none; text-align:center; margin-right: 0;}
	.page-scroll{margin-top:0;}
	.courses_grid h4, .courses_grid p {
	    font-size: 14px;
	}
	.about-section
	{
		padding:0;
		margin-bottom: 30px;
	}
	.affix
	{
		position: static;
	}
	.about-right h3, .about_edukum h3 {
    font-size: 18px;
    margin-top: 40px;
}
.about_edukum p
{
	font-size: 14px;
}
.heading-achieve-info
{
	font-size:24px;
}
.numscroller {
    font-size: 25px;
    }
.about-right p {
     font-size: 14px;
     margin-top: 6px;
    margin-bottom: 20px;

    }
	/*MEDIA QUERY FOR TAB MENU*/
	.class-info ul li{width:100%;margin: 10px 0;}
	.class-info ul li img {display:none;}
	.content-strip .nav-tabs > li.active > a::after{left:0; width:100%;	}

	/*MEDIA QUERY FOR TESTIMONIALS*/
	#quote-carousel .carousel-indicators .active{ width:100px; height:100px; }
	.Testimonials_detail p{font-size:12px;}

	/*MEDIA QUERY FOR footer*/
	.paddingtop-bottom{text-align:center;}
	.footerleft{text-align:center;}
	
 	/*media query for search button*/
 	form.form-holder{width:80%;}
 	form.form-holder input.btn{right:15px;top:10px;}
	#quote-carousel .carousel-control.right{right: 0px}
	.videoContainer{width: 100%}
 	/*media query for search button end*/

 	/*MEDIA QUERY FOR USERPROFILE*/
 	.welcome-alert h2 {font-size: 1.188em;}
 	.userprofile_top{margin-top:18px;}
 	.user-title{margin-left: -31px; font-size: 0.813em !important; margin-top: 3px; font-weight:500;}
 	.user_edit {font-size:0.813em; margin: 0 0 0 99px;}
 	.btn-savechanges{font-size:9px;}
 	.btn-cancel{font-size:9px;}
 	.navbar-default .navbar-nav .open .dropdown-menu>li>a {color: #fff; text-align: center;}

 	/*MEDIA QUERY FOR BLOG PAGE*/
 	.post-img img{float:none;}
 	.blog-section {margin-top: 40px;}
 	.blog-context{display:block; margin-bottom:12px;}
 	hr.blog-line {margin: 84px 0;}
 	.widget-sidebar{margin-top:40px;}
 	h4.post-title {font-size: 1.5em !important;}
 	li.rep-01 a{font-size:13px !important;}
 	li.status-message a{font-size:10px;}
 	.createblog-title em{font-size:17px;}
 	h2.createblog-title {padding: 12px 31px;font-size: 15px;}
 	.blog-sections {margin-top: -21px;}
 	.blog-img {width: 100%;height: auto;}
 	.s-title-group .has-fresh-line .s-component-content:before, 
	.s-title-group .has-fresh-line .s-component-content:after {display:none;}
	h2.s-font-title {font-size: 29px;}
	.blogprofile_list{margin-top:19px;}

 	 	/*media query for sidearrow*/
 	#acce-contrast a{font-size:16px;}
 	#sizer a{font-size:16px;height:31px !important;}
 	.btn-nav{margin:4px auto; height:31px !important; font-size: 23px;}
  	#image-gray{font-size:16px;height:31px !important;}
 	@-moz-document url-prefix()
	{
	.nav-list{
		top: 41%;
	}
   }

	/*position rearrange*/
	.content-display{display: flex; flex-flow: column wrap; overflow: auto }
	.subject{order: 1; }
	.studyMaterial{order: 3;}
	.chapter{order: 2; }
	.ui-widget-content{width:20%;display:block; font-size:12px !important;}

	 /*style for subject navigation====*/
	 .navbar-inverse .navbar-toggle
	 {
	 	border-color:transparent;

	 }
	 .navbar-class .subject-header .navbar-toggle
	 {
	 	max-height:0;
	 	padding: 1px 10px;
	 	margin-top:11px;
	 }
	 .class-title
	 {
	 	font-size:16px;
	 	margin-left:21px;
	 }
	 .subject-gallery
	 {
	 	margin-top:5px !important;
	 }
	 .subject-name-link {
    	font-size: 11px;
		}
	.subject-hover h4
	{
		font-size:13px;
	}
	h4.download-counts
	{
		font-size:14px;
	}
	span.download-icon
	{
		font-size:37px;
	}
	.subject-hover
	{
		 background:rgba(0, 0, 0, 0.6588235294117647);
	}
	.navbar-inverse .navbar-collapse
	{
		border-color:transparent;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider
	{
		    background-color: #fff;
	}
	.class-child-child>li>a:hover
	{
		color:#4598ab !important;
		background-color:transparent !important;
	}
	.subject-img
	{
		width:100%;
		display:block;
		height: auto;
	}
	.scholarship-detail-section
	 {
    margin-top: 45px;
	}
	
	.scholarship-detail-banner
	 {
    top: -15px;
	}
	.detaildown10 {
    margin-top: 0px;
    }
	h2.question-heading
	{
		font-size:30px;
	}
	.question-banner
	{
		padding: 50px 0;
	}
    .questionbank-section {
	    /*margin-top: 11px !important;*/
	}
	.content-area select, .content-area input[type="text"]{
	    margin: 5px 0 !important;
	    width: 100% !important;
	}
	.content-area input[type="submit"]
	{
		margin:14px auto 0;
	}
	.section_heading h1 {
        font-size: 42px;
	}
	.section_heading p {
     font-size: 30px;
	}
    ..courses_grid
    {
        min-height:298px;
    }
}


@media (min-width: 480px) and (max-width:599px){
	.privacy-detail h1{width:60%;}
	.questionbank_search
	{
		margin-top:0;
	}
	.courses_grid h4, .courses_grid p {
	    font-size: 14px;
	}

	.login-help{line-height:3}
	.social_account {margin: 0 0 0 16px !important;}
	.btn-social { margin-bottom: 6px;padding: 6px 24px !important; font-size: 12px;}

	/*.social-login{margin-left:0 !important;}*/
	#quote-carousel .carousel-control.right {right: 0px;}
 	.loginBtn {display: block; width: 100%; font-size:15px; margin-bottom:14px; padding:4px 49px;}
 	.about-heading{top:-102px;font-size:11px;}
 	.margin-top-lg{margin-top:40px;}
 	.class-div .well.well-clean{line-height: 24px;}
 	figure.align-left img{float: none; width:100%; height:auto; display:block;}
	figure.align-right img{float:none; width:100%; height:auto; display:block;}
	figure.align-center img {float:none; width:100%; height:auto; display:block}
	figure.image img{float: none; width:100%; height:auto; display:block;}
	table{width: 100%; height: auto;}
	h3.form-title{font-size: 1.250em;}
 	.intro-header{margin-top:2px;}
 	/*MEDIA QUERY FOR BLOG PAGE*/
 	.blog-section {margin-top: 48px;}
 	.widget-sidebar{margin-top:35px;}
 	.createblog-title em{font-size:20px;}
 	h2.createblog-title {padding: 12px 31px; font-size: 20px;}
 	.blog-sections {margin-top: -21px;}
 	 	.s-title-group .has-fresh-line .s-component-content:before, 
.s-title-group .has-fresh-line .s-component-content:after {display:none;}
h2.s-font-title {font-size: 29px;}
.blogprofile_list{margin-top:19px;}


 	/*MEDIA QUERY FOR SCROLL DOWM*/
	.scrolldown{float:none; text-align:center; margin-right: 0;}
	.page-scroll{margin-top:0;}
	
 	/*MEDIA QUERY FOR TABMENU*/
 	.margin-top-sm {margin-top: 0px;}
 	.content-strip .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover
 	{border:none;}
 	.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border:none;}
 	.content-strip .nav-tabs > li.active > a::after{left:35px; width:42px;}

 	/*media query for search button*/
 	form.form-holder{width:80%;}
 	form.form-holder input.btn{right:15px;top:10px;}
 	/*media query for search button end*/

	/*MEDIA QUERY FOR TESTIMONIALS*/
	#quote-carousel .carousel-indicators .active{ width:100px; height:100px; }
	.Testimonials_detail p{font-size:19px;}

	/*MEDIA QUERY FOR footer*/
	.paddingtop-bottom{text-align: center;}
	.footerleft{text-align:center;}

	/*MEDIA QUERY FOR TABMENU*/
	.class-info ul li{width: 24%; margin:5px 0;}
	.class-info ul li img {display:none;}

	/*MEDIA QUERY FOR USERPROFILE*/
	.userprofile_top {margin-top: 23px;}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {color: #fff; text-align: center;}


 	/*media query for sidearrow*/
 	#acce-contrast a{font-size:16px;}
 	#sizer a{font-size:16px;height:31px !important;}
 	.btn-nav{margin:4px auto; height:31px !important; font-size: 23px;}
 	#image-gray{font-size:16px;height:31px !important;}
 	@-moz-document url-prefix()
	{
	.nav-list{
		top: 61%;
	}
}
	/*position rearrange*/
	.content-display{display: flex; flex-flow: column wrap; overflow: auto}
	.subject{order: 1}
	.studyMaterial{order: 3}
	.chapter{order: 2}
		 /*style for subject navigation====*/
	.navbar-inverse .navbar-toggle
	 {
	 	border-color:transparent;

	 }
	 .navbar-class .subject-header .navbar-toggle
	 {
	 	max-height:0;
	 	padding: 1px 10px;
	 	margin-top:11px;
	 }
	 .class-title
	 {
	 	font-size:16px;
	 	margin-left:21px;
	 }
	 /*.subject-gallery
	 {
	 	margin-top:-18px !important;
	 }*/
	 .subject-name-link {
    font-size: 11px;
		}
		.subject-hover h4
		{
			font-size:13px;
		}
		h4.download-counts
		{
			font-size:14px;
		}
		span.download-icon
		{
			font-size:37px;
		}
		.subject-hover
		{
			 background:rgba(0, 0, 0, 0.6588235294117647);
		}
		.navbar-inverse .navbar-collapse
		{
			border-color:transparent;
		}
		.navbar-inverse .navbar-nav .open .dropdown-menu .divider
		{
			    background-color: #fff;
		}
		.class-child-child>li>a:hover
	{
		color:#4598ab !important;
		background-color:transparent !important;
	}
	.subject-img
		{
			width:100%;
			display:block;
			height: auto;
		}
	.scholarship-detail-section
	 {
    margin-top: 45px;
	}
	.scholarship-info .box
	{
	background-color: #387a9ac4 !important;
	}
	.scholarship-detail-banner
	 {
    top: -15px;
	}
	.detaildown10 {
    margin-top: 0px;
    }
    .content-area select, .content-area input[type="text"]{
	    margin: 5px 0 !important;
	    width: 100% !important;
	}
	.content-area input[type="submit"]
	{
		margin:14px auto 0;
	}
	.section_heading h1 {
        font-size: 42px;
	}
	.section_heading p {
     font-size: 32px;
	}
}
@media (min-width: 600px) and (max-width:767px){
	.privacy-detail h1{width:60%;}
	.incon-box img{display:none;}
	.social_account {margin: 0 0 0 50px;}
	.login-help{line-height:4}
	#quote-carousel .carousel-control.right {right: 0px;}
	.loginBtn {padding:9px 45px;}
 	.about-heading{top:-85px;font-size: 12px;}
 	.margin-top-lg {margin-top: 40px;} 
 	.class-div .well.well-clean{line-height: 41px;}
 	.intro-header{margin-top:1px;}
 	figure.align-left img {float: none; width:100%; height:auto; display:block;}
	figure.align-right img {float:none; width:100%; height:auto; display:block}
	figure.align-center img {float:none; width:100%; height:auto; display:block}
    figure.image img{float: none; width:100%; height:auto; display:block;}
	table{width: 100%; height: auto;}
	.blog-section {margin-top: 60px;}
	.blog-sections {margin-top: -21px;}
	h2.createblog-title {padding: 12px 17px;}
	.widget-sidebar{margin-top:35px;}
	 	.s-title-group .has-fresh-line .s-component-content:before, 
.s-title-group .has-fresh-line .s-component-content:after {display:none;}
	.blogprofile_list{margin-top:19px;}

	/*MEDIA QUERY FOR SCROLL DOWM*/
	.scrolldown{float:none; text-align:center; margin-right: 0;}
	.page-scroll{margin-top:0;}
	
 	/*MEDIA QUERY FOR TAB MENU*/
 	.margin-top-sm{margin-top:0px;}
	.class-info ul li img {display:none;}
	.class-info ul li{width:16%;}
	.content-strip .nav-tabs > li.active > a::after{left:27px;}
	/*media query for search button*/
 	form.form-holder{width:80%;}
 	form.form-holder input.btn{right:15px;top:10px;}

 	/*MEDIA QUERY FOR USERPROFILE*/
	.userprofile_top {margin-top: 23px;}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {color: #fff; text-align: center;}

 	/*MEDIA QUERY FOR footer*/
	.paddingtop-bottom{text-align: center;}
	.footerleft{text-align:center;}

	/*media query for search button end*/
 	@-moz-document url-prefix(){
	.nav-list{
		top: 44%;
		}
	}
	/*position rearrange*/
	.content-display{display: flex; flex-flow: column wrap; overflow: auto}
	.subject{order: 1}
	.studyMaterial{order: 3}
	.chapter{order: 2}
		 /*style for subject navigation====*/
	.navbar-inverse .navbar-toggle
	 {
	 	border-color:transparent;

	 }
	 .navbar-class .subject-header .navbar-toggle
	 {
	 	max-height:0;
	 	padding: 1px 10px;
	 	margin-top:11px;
	 }
	 .class-title
	 {
	 	font-size:16px;
	 	margin-left:21px;
	 }
	 /*.subject-gallery
	 {
	 	margin-top:-18px !important;
	 }*/
	 .subject-name-link {
    font-size: 11px;
		}
		.subject-hover h4
		{
			font-size:13px;
		}
		h4.download-counts
		{
			font-size:14px;
		}
		span.download-icon
		{
			font-size:37px;
		}
		.subject-hover
		{
			 background:rgba(0, 0, 0, 0.6588235294117647);
		}
		.navbar-inverse .navbar-collapse
		{
			border-color:transparent;
		}
		.navbar-inverse .navbar-nav .open .dropdown-menu .divider
		{
			    background-color: #fff;
		}
		.class-child-child>li>a:hover
	{
		color:#4598ab !important;
		background-color:transparent !important;
	}
	.subject-img
{
	width:100%;
	display:block;
	height: auto;
}
.scholarship-detail-section
	 {
    margin-top: 45px;
	}
	
	.scholarship-detail-banner
	 {
    top: -15px;
	}
	.detaildown10 {
    margin-top: 0px;
    }
    .content-area select, .content-area input[type="text"]{
	    margin: 5px 0 !important;
	    width: 100% !important;
	}
	.content-area input[type="submit"]
	{
		margin:14px auto 0;
	}
	
	.section_heading p {
     font-size: 42px;
	}
  }
@media (min-width: 768px) and (max-width:991px) {
	.app-image{bottom:0;}
	.app-image img{margin:0;}
	.copyright p, .copyright a{font-size:10px;}
	.privacy-detail h1{ width:33% }
	.incon-box img{display:none; font-size:}
	span.box-title {color: #555; font-size: 12px;}
	span.box-title{color:#555;}
	.pic-book-section
	{
		margin-top:75px;
	}
	.left-content select
	{
		margin-bottom:10px;
	}
	figure.image img
	{
		width:100%;
	}
.monsters-home-c .feature-screen img
{
	margin-top:52px;
}
	.questionbank_search input[type="submit"]
    {
        margin:20px auto 0;
    }
	.questionbank_search select, .questionbank_search input[type="text"]
	{
		margin: 5px 0 !important;
		width: 100% !important;
	}

	.questionbank_search
	{
		margin-top:15px;
	}
    .question-marks-section p
    {
        margin-left:53px;
    }
    .content-wrapper .group-title
    {
        margin-top:34px;
    }
    .inner-padding
    {
        padding:0;
    }
	.about_edukum h3{
		margin-top: 35px;
	}
	.about-right p{margin-bottom: 45px;}
	/*.social_account {margin: 0 0 0 49px;}*/
	.login-help{line-height:4}
	.social-login{margin-left:40 !important;}
	.widget-sidebar{margin-top:35px;}
	.blog-section {margin-top: 107px;}
	.scrolldown{margin-right:-25px;}
	 	.s-title-group .has-fresh-line .s-component-content:before, 
.s-title-group .has-fresh-line .s-component-content:after {display:none;}
	#quote-carousel .carousel-control.right {
		right: 0px;
	}
	

	.about-heading {
		top: -56px;
	}

	.intro-header {
		margin-top: 89px;
	}

	.heading7 {
		font-size: 1.125em;
	}

	.logofooter {
		font-size: 1.125em;
	}

	.class-div .well.well-clean {
		line-height: 41px;
	}

	/*media query for search button*/
	form.form-holder {
		width: 80%;
	}

	form.form-holder input.btn {
		right: 15px;
		top: 10px;
	}

	/*MEDIA QUERY FOR TAB MENU*/
	.margin-top-sm {
		margin-top: -2px;
	}

	.class-info ul li img {
		display: none;
	}

	.class-info ul li {
		width: 14%;
	}

	.content-strip .nav-tabs > li.active > a::after {
		left: 30px;
	}

	/*MEDIA QUERY FOR USERPROFILE*/
	.userprofile_top {
		margin-top: 110px;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
		text-align: center;
	}
	/*position rearrange*/
	.content-display{display: flex; flex-flow: row; flex-wrap: wrap; overflow: auto}
	.subject{order: 1}
	.studyMaterial{order: 3}
	.chapter{order: 2}
	.nav-list{top: 44%}

		 /*style for subject navigation====*/
	.navbar-inverse .navbar-toggle
	 {
	 	border-color:transparent;

	 }
	 .navbar-class .subject-header .navbar-toggle
	 {
	 	max-height:0;
	 	padding: 1px 10px;
	 	margin-top:11px;
	 }
	 .class-title
	 {
	 	font-size:16px;
	 	margin-left:21px;
	 }
	 /*.subject-gallery
	 {
	 	margin-top:-18px !important;
	 }*/
	 .subject-name-link {
    font-size: 11px;
		}
		.subject-hover h4
		{
			font-size:13px;
		}
		h4.download-counts
		{
			font-size:14px;
		}
		span.download-icon
		{
			font-size:37px;
		}
		.subject-hover
		{
			 background:rgba(0, 0, 0, 0.6588235294117647);
		}
		.navbar-inverse .navbar-collapse
		{
			border-color:transparent;
		}
		.navbar-inverse .navbar-nav .open .dropdown-menu .divider
		{
			    background-color: #fff;
		}
		.class-child-child>li>a:hover
	{
		color:#4598ab !important;
		background-color:transparent !important;
	}
	.subject-img
		{
			width:100%;
			display:block;
			height: auto;
		}

.course_search select, .course_search input[type="text"] {
    margin-right: 3.8%;
    width: 21%;
}

.scholarship-detail-banner {
      top: -23px;
	}
	.detaildown10 {
    margin-top: 0px;
}
.scholarship-info .box
{
	background-color:#387a9ac4;
}
.scholarship-detail-section
 {
margin-top: 118px;
}

.scholarship-detail-banner
 {
top: -15px;
}
.detaildown10 {
margin-top: 0px;
}
/*.questionbank-section {*/
    /*margin-top: 18px !important;*/
/*}*/
	.questionbank_search
	{
		margin-top:64px
	}

.content-area select, .content-area input[type="text"]{
	    margin: 5px 0 !important;
	    width: 100% !important;
	}
	.content-area input[type="submit"]
	{
		margin:14px auto 0;
		    padding: 15px 14px !important;
	}
	.form-submit {
    min-width: 86px;
    padding: 14px 18px !important;
}

}
 	/*media query for search button end*/


@media (min-width: 992px) and (max-width:1199px){
	.copyright p, .copyright a{font-size:10px;}
	.privacy-detail h1
	{
		width:26%;
	}
	.halfmenu
	{
		width:27%;
	}

		form.form-holder
	{
		width:37%;
	}
   .ui-widget-content{width:32.3%;display:block; font-size:12px !important;}
	.blog-section {margin-top: 138px;}
	#quote-carousel .carousel-control.right {right: 0px;}
	.widget-sidebar{margin-top:35px;}
	/*position rearrange*/
	/*position rearrange*/
	.content-display{display: flex; flex-flow: row; flex-wrap: wrap; overflow: auto}
	.subject{order: 1; width: 100%}
	.studyMaterial{order: 3; width: 100%}
	.chapter{order: 2; width: 50%}
	.nav-list{top: 40%;}
	.scrolldown{margin-right:-43px;}
	.blog-container{float:none;}
	 	.s-title-group .has-fresh-line .s-component-content:before, 
.s-title-group .has-fresh-line .s-component-content:after {display:none;}
.class-child li a
{
	font-size: 11px;
}
.course_search select, .course_search input[type="text"] {
    margin-right: 3.8%;
    width: 23%;
}
.questionbank_search select, .questionbank_search input[type="text"]
{
	width:100%;
 }
 /*.questionbank-section {*/
    /*margin-top: 80px;*/
/*}*/
.form-submit {
    min-width: 140px;
}
.courses_grid
{
	min-height: 272px;
}
    .question-marks-section p {
        margin-left: 109px;}
}
@media (min-width: 750px) and (max-width:1010px){
	.nav-list{top: 39%;}
}
/*@media (min-width: 801px) and (max-width: 1199px) {*/
	/*.nav-list{top: 44%!important;}*/
/*}*/


 
